@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #17161b;
  --foreground: #ffffff;
}

body {
  font-family: var(--font-inria-sans), Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: var(--background);
}
